{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} P2 &#128128; {% endblock %}</h1>
    <h1>Proyecto DOS</h1>
    <h2>Welcome to Proyecto DOS!</h2>

    <form method="post">
      <div class="form-group">
	<label for="conjunto1">Conjunto 1</label>
	<input type="text" class="form-control" name="conjunto1" id="conjunto1" aria-describedby="conjunto1Help" placeholder="a,b,c or a b c" value="{{request.form['conjunto1']}}">
	<small id="conjunto1Help" class="form-text text-muted">Ingresa los valores del conjunto. a,b,c or a b c</small>
      </div>
      <div class="form-group">
	<label for="conjunto2">Conjunto 2</label>
	<input type="text" class="form-control" name="conjunto2" id="conjunto2" aria-describedby="conjunto2Help" placeholder="a,b,c or a b c" value="{{request.form['conjunto2']}}">
	<small id="conjunto1Help" class="form-text text-muted">Ingresa los valores del conjunto. a,b,c or a b c</small>
      </div>

      <button type="submit" class="btn btn-primary">Analizar</button>
    </form>

    {% for resultado in resultados %}
    
    <div class="table-responsive">
      <table class="table">
	<caption>Lista de resultados</caption>
	<thead>
	  <tr>
	    <th scope="col">#</th>
	    <th scope="col">Pares Ordenados</th>
	    <th scope="col">Relación</th>
	    <th scope="col">Función</th>
	    <th scope="col">Fn Inyectiva</th>
	    <th scope="col">Fn Suprayectiva</th>
	    <th scope="col">Fn Biyectiva</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <th scope="row">1</th>
	    <td>{(),()}</td>
	    <td style="color:Tomato;">&#10007;</td>
	    <td style="color:Green">&#10003;</td>
	    <td style="color:Tomato;">&#10007;</td>
	    <td style="color:Tomato;">&#10007;</td>
	    <td style="color:Tomato;">&#10007;</td>
	  </tr>
	  <tr>
	    <th scope="row">2</th>
	    <td>{(),()}</td>
	    <td style="color:Tomato;">&#10007;</td>
	    <td style="color:Tomato;">&#10007;</td>
	    <td style="color:Green">&#10003;</td>
	    <td style="color:Tomato;">&#10007;</td>
	    <td style="color:Green">&#10003;</td>
	  </tr>
	</tbody>
      </table>
    </div>
    {% endfor %}
{% endblock %}
    
